*.class
*.zip
/P_0110/Reloj/nbproject/private/
/P_0110/Reloj/build/
/P_0111/Nómina/nbproject/private/
/P_0110/Sierpinski/nbproject/private/
/P_0111/Nómina/Nomina/nbproject/private/
/P_0111/Nomina/nbproject/private/
/P_0111/Nomina/build/